/* მთავარი ფორმა */
.wrap {
    display: flex;
    background-color: #FFFFFF;
    margin-left: 1050px;
    vertical-align: middle;
    
}

/* გადაჭრილი პრობლემები */
.wrap-banner {
display: flex;
align-items: center;
margin-left: 300px;
border: 3px solid #707070
height 80px;
width: 1200px;
 margin-top: 40px;
}

.contect {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    padding: 400px;
    margin-right: 100px;
    color: #FFFFFF;
}

.form {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    padding: 500px;
    margin-left: 600px;
}

.container {
    margin-top: 30px;
    margin-left: 800px;
    color: #284469;
    font-size: 28px;
}
/* პრობლემის აღწერა :ტექსტი: */
.h3-tag {
    color: #284469;
    font-size: 18px;
}
/* პრობლემის აღწერა :ტექსტი: */
.span-right {
    color: #7581B1;
    font-size: 16px;
} 
/* ავტორიზაცის ღილაკი */
.button-wrap {
    margin-left: 20px;
    display: inline-block
}

.img-wraper {
    margin-top: 50px;
    width: 100%;
}

.logo-wraper {
    margin-top: 30px;
}

.count {
    color: #E65571;
    font-size: 18px;
    margin-left: 30px;
}

.count1 {
color: #FF8A74;
font-size: 18px;
margin-left: 200px;

}

.count2 {
    color: #00E089;
    font-size: 18px;
    margin-left: 300px;
} 

.info {
    margin-left: 10px;
}

.item1 {
    margin-left: 20px;
}

.item2 {

}

.item3 {
    margin-left: 100px;
}